<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>            
          <div class="form-error">            
          <%= message %>            
          </div>            
        <% end %>
        # <%= form_tag user_path(@user), method: :put, multipart: true do %>
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <p>ユーザー名</p>
          <input name="name" value= "<%= @user.name %>">
            <div class="field">
              <%= f.label :avatar %>
              <%= f.file_field :avatar %>
            </div>
            <div class="actions">
              <%= f.submit "保存" %>
            </div>
          <% end %>
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <input type="submit" value="保存">
        <% end %>  
      </div>
    </div>
  </div>
</div>